/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* common */
  .container {
    width: 96%;
    margin: 0 auto;
  }
  .section {
    padding: 64px 0px;
  }
  .section-common-title {
    width: 100%;
  }
  .section-subtitle p {
    font-size: 13px;
  }
  .section-title {
    font-size: 30px;
    font-weight: 800;
    color: var(--gray-darkColor);
    line-height: 38px;
    letter-spacing: -0.39px;
  }
  .section-pera {
    font-size: 17px;
    line-height: 160%;
    padding: 0px 0px;
  }
  /* navbar */
  .hamburger {
    display: block;
  }
  .nav-items {
    position: fixed;
    top: 80px;
    left: 0;
    transform: translateX(-100%);
    height: 100vh;
    width: 90%;
    background-color: #eef2ff;
    flex-direction: column;
    padding: 40px;
    transition: transform 0.5s ease-in-out;
  }

  .nav-buttons {
    position: fixed;
    top: 350px;
    left: 0;
    transform: translateX(-100%);
    width: 250px;
    padding: 0 20px;
    transition: transform 0.5s ease-in-out;
  }
  .nav-items.active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
  }
  .nav-buttons.active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
  }
  /* banner */
  .banner-section {
    padding-top: 44px;
  }
  .section-title-banner {
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.504px;
  }
  .section-pera-banner {
    font-size: 15px;
    padding: 0px 0px;
    line-height: 160%;
  }
  /* *** banner partner*** */
  .brand-partner-section {
    padding: 24px 0px;
  }
  .partner-logo-content {
    gap: 10px;
  }
  .partner-logo-content > div {
    flex: 0 1 calc((100% - (3 * 20)) / 2);
  }
  .partner-logo-content > div > img {
    width: 90px;
  }
  /* ***** feature section ***** */
  .feature-content {
    grid-template-columns: repeat(1, auto);
    padding-top: 20px;
  }
  .feature-item {
    padding: 0 0px;
    margin: 20px 0px;
  }
  .feature-icon {
    width: 60px;
    margin: 0 auto;
  }
  .feature-item > h4 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.144px;
  }
  /* ******* statistic section ****** */
  .statistics-content {
    display: flex;
    flex-direction: column;

    padding-top: 50px;
  }
  .line-separator {
    background-color: #cbd5e1;
    width: 96%;
    margin: 0 auto;
    height: 1px;
    margin: 24px 0px;
  }
  .static-item > h3 {
    padding: 0px 0px 0px;
  }
  /* **** for whom *** */
  .for-whom-section {
    margin: 0px 10px;
  }
  .whom-pera {
    width: 100%;
  }
  .for-whom-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
  }
  .for-whom-description {
    flex-basis: 100%;
  }
  .for-whom-image {
    flex-basis: 100%;
  }
  .whom-item {
    margin: 10px 0px;
    padding: 26px 10px 26px 26px;
  }
  /* ******** testimonial ********* */
  .testimonial-content {
    column-count: 1;
  }
  .testimonial-item {
    padding: 20px 20px 20px 20px;
  }
  .rating {
    width: 22px;
  }
  .person-identity h3 {
    font-size: 14px;
  }
  .person-identity p {
    font-size: 14px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* common */

  .section-title {
    font-size: 32px;

    line-height: 38px;
    letter-spacing: -0.39px;
  }
  .section-pera {
    font-size: 18px;
    line-height: 160%;
    padding: 0px 0px;
  }
  .section-subtitle p {
    font-size: 14px;
  }
  .section-common-title {
    width: 100%;
  }
  .section {
    padding: 64px 0px;
  }
  .hamburger {
    display: block;
  }
  .nav-items {
    position: fixed;
    top: 80px;
    left: 0;
    transform: translateX(-100%);
    height: 100vh;
    width: 90%;
    background-color: #eef2ff;
    flex-direction: column;
    padding: 40px;
    transition: transform 0.5s ease-in-out;
  }

  .nav-buttons {
    position: fixed;
    top: 350px;
    left: 0;
    transform: translateX(-100%);
    width: 250px;
    padding: 0 20px;
    transition: transform 0.5s ease-in-out;
  }
  .nav-items.active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
  }
  .nav-buttons.active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
  }
  /* banner */
  .banner-section {
    padding-top: 64px;
  }
  .section-title-banner {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.504px;
  }
  .section-pera-banner {
    font-size: 16px;
    padding: 0px 0px;
    line-height: 160%;
  }
  /* *** banner partner*** */
  .brand-partner-section {
    padding: 24px 0px;
  }
  .partner-logo-content {
    gap: 10px;
  }
  .partner-logo-content > div {
    flex: 0 1 calc((100% - (4 * 20)) / 2);
  }
  .partner-logo-content > div > img {
    width: 120px;
  }
  /* ***** feature section ***** */
  .feature-content {
    grid-template-columns: repeat(2, auto);
    padding-top: 20px;
  }
  .feature-item {
    padding: 0 0px;
    margin: 20px 10px;
  }
  .feature-icon {
    width: 60px;
    margin: 0 auto;
  }
  .feature-item > h4 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.144px;
  }
  /* ******* statistic section ****** */
  .statistics-content {
    display: flex;
    flex-direction: column;

    padding-top: 50px;
  }
  .line-separator {
    background-color: #cbd5e1;
    width: 96%;
    margin: 0 auto;
    height: 1px;
    margin: 24px 0px;
  }
  .static-item > h3 {
    padding: 0px 0px 0px;
  }
  /* **** for whom *** */
  .for-whom-section {
    margin: 0px 10px;
  }
  .whom-pera {
    width: 100%;
  }
  .for-whom-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
  }
  .for-whom-description {
    flex-basis: 100%;
  }
  .for-whom-image {
    flex-basis: 100%;
  }
  .whom-item {
    margin: 10px 0px;
    padding: 26px 10px 26px 26px;
  }
  /* ******** testimonial ********* */
  .testimonial-content {
    column-count: 1;
  }
  .testimonial-item {
    padding: 30px 30px 30px 20px;
  }
  .rating {
    width: 22px;
  }
  .person-identity h3 {
    font-size: 14px;
  }
  .person-identity p {
    font-size: 14px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* common */
  .section-subtitle p {
    font-size: 13px;
  }

  .section-title {
    font-size: 36px;
    line-height: 38px;
    letter-spacing: -0.39px;
  }
  .section-pera {
    font-size: 18px;
    line-height: 160%;
    padding: 0px 0px;
  }
  .section-common-title {
    width: 90%;
  }
  .section {
    padding: 64px 0px;
  }
  /* navbar */
  .hamburger {
    display: block;
  }
  .nav-items {
    position: fixed;
    top: 80px;
    left: 0;
    transform: translateX(-100%);
    height: 100vh;
    width: 90%;
    background-color: #eef2ff;
    flex-direction: column;
    padding: 40px;
    transition: transform 0.5s ease-in-out;
  }

  .nav-buttons {
    position: fixed;
    top: 350px;
    left: 0;
    transform: translateX(-100%);
    width: 250px;
    padding: 0 20px;
    transition: transform 0.5s ease-in-out;
  }
  .nav-items.active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
  }
  .nav-buttons.active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
  }
  /* banner */
  .section-title-banner {
    font-size: 46px;
  }
  .banner-section {
    padding-top: 64px;
  }
  .section-pera-banner {
    font-size: 16px;
    line-height: 44px;
    letter-spacing: -0.504px;
    padding: 0px 10px;
    line-height: 160%;
  }
  /* *** banner partner*** */
  .brand-partner-section {
    padding: 24px 0px;
  }
  .partner-logo-content {
    gap: 10px;
  }
  .partner-logo-content > div {
    flex: 0 1 calc((100% - (5 * 20)) / 2);
  }
  .partner-logo-content > div > img {
    width: 140px;
  }
  /* ***** feature section ***** */
  .feature-content {
    grid-template-columns: repeat(2, auto);
    padding-top: 20px;
  }
  .feature-item {
    padding: 0 20px;
    margin: 20px 10px;
  }
  .feature-icon {
    width: 70px;
    margin: 0 auto;
  }
  .feature-item > h4 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.144px;
  }
  /* ********** static ******** */
  .statistics-content {
    gap: 10px;
    padding-top: 60px;
  }
  .static-item > h3 {
    font-size: 50px;

    color: var(--primary-color);
    padding: 0px 20px 12px;
  }
  /* **** for whom *** */
  .for-whom-section {
    margin: 0px 10px;
  }
  .whom-pera {
    width: 100%;
  }
  .for-whom-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
  }
  .for-whom-description {
    flex-basis: 100%;
  }
  .for-whom-image {
    flex-basis: 100%;
  }
  .whom-item {
    margin: 10px 0px;
    padding: 26px 10px 26px 26px;
  }
  /* ******** testimonial ********* */
  .testimonial-content {
    column-count: 2;
  }
  .testimonial-item {
    padding: 30px 30px 30px 20px;
  }
  .rating {
    width: 22px;
  }
  .person-identity h3 {
    font-size: 14px;
  }
  .person-identity p {
    font-size: 14px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* **** feature section ***** */

  .feature-content {
    grid-template-columns: repeat(2, auto);
    padding-top: 20px;
  }
  .feature-item {
    padding: 10px 20px;
    margin: 20px 10px;
  }
  .feature-icon {
    width: 70px;
    margin: 0 auto;
  }
  .feature-item > h4 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.144px;
  }
  /* *** for whom **** */
  .whom-item {
    padding: 26px 10px 26px 26px;
  }
  /* ******** testimonial ********* */
  .testimonial-content {
    column-count: 2;
  }
  .testimonial-item {
    padding: 30px 30px 30px 20px;
  }
  .rating {
    width: 22px;
  }
  .person-identity h3 {
    font-size: 14px;
  }
  .person-identity p {
    font-size: 14px;
  }
}
/* Extra Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* *** for whom **** */
  .whom-item {
    padding: 26px 10px 26px 26px;
  }
  /* ******** testimonial ********* */

  .testimonial-item {
    padding: 30px 30px 30px 20px;
  }
  .rating {
    width: 22px;
  }
  .person-identity h3 {
    font-size: 14px;
  }
  .person-identity p {
    font-size: 14px;
  }
}
/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) and (max-width: 1499.98px) {
  /* *** for whom **** */
  .whom-item {
    padding: 26px 10px 26px 26px;
  }
}
