* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: "Plus Jakarta Sans", sans-serif;
  --primary-color: #4f46e5;
  --primary-lightColor: #eef2ff;
  --gray-darkColor: #475569;
  --gray-lightColor: #475569;
}
body {
  font-family: var(--font-family);
}
/****** common reusable style *****/
.container {
  width: 90%;
  margin: 0 auto;
}
.section-common-title {
  text-align: center;
}
.section-subtitle {
  display: inline-flex;
  background-color: var(--primary-lightColor);
  padding: 6px 12px;
  border-radius: 20px;
}
.section-subtitle p {
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.084px;
  color: var(--primary-color);
  text-align: center;
}
/***** banner ******/
.banner-section {
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.play-store {
  display: flex;
  gap: 10px;
}
